@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/assets/img/logo-fav.png">
    <title>Login Page - Welcome</title>
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/style.css" type="text/css" />
</head>
<body class="be-splash-screen">
    <div class="be-wrapper be-login">
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="splash-container">
                    <div class="panel panel-default panel-border-color panel-border-color-primary">
                        <div class="panel-heading"><img src="~/Content/assets/img/logo.png" alt="logo" width="150" height="70" class="logo-img"></div>
                        <div class="panel-body">
                            <form action="index.html" method="get">
                                <div class="form-group">
                                    <input id="username" type="text" placeholder="Username" autocomplete="off" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="password" type="password" placeholder="Password" class="form-control">
                                </div>
                                @*<div class="form-group row login-tools">
                                        <div class="col-xs-6 login-remember">
                                            <div class="be-checkbox">
                                                <input type="checkbox" id="remember">
                                                <label for="remember">Remember Me</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 login-forgot-password"><a href="#">Forgot Password?</a></div>
                                    </div>*@
                                <div class="form-group login-submit">
                                    <button class="btn btn-primary btn-xl" onclick="location.href='@Url.Action("Index","Home")'" type="button">Log In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</body>
</html>
