

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>New Category Registration</b></div>
            <div class="panel-body">
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">


                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi"> Cateogry Name :</label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Yeni Kategori giriniz..." class="form-control parsley-error" data-parsley-id="29">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <button type="submit" class="btn btn-space btn-success" style="font-size: 17px; width: 80px; height:38px;">Save</button>
                            <button class="btn btn-space btn-default " style="height: 40px; font-size: 14px;">Cancel</button>
                        </div>
                    </div>

                    <div class="col-sm-6" style="margin-left: 280px; margin-top: 15px;">
                        <div class="panel panel-default panel-table">

                            <div class="panel-heading" style="font-size: 22px">
                                <b>Category List</b><hr>


                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category Name</th>
                                            <th style="float: right;margin-right: -70px;">&nbsp; Kategori İşlemleri</th>
                                            <th class="actions"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mobile Phone</td>

                                            <td class="actions"><a href="#" class="icon"><i class="mdi mdi-edit" style="float: right"></i></a></td>
                                            <td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>

                                        </tr>
                                        <tr>
                                            <td>Computer</td>

                                            <td class="actions"><a href="#" class="icon"><i class="mdi mdi-edit" style="float: right"></i></a></td>
                                            <td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Mac OS</td>

                                            <td class="actions"><a href="#" class="icon"><i class="mdi mdi-edit" style="float: right"></i></a></td>
                                            <td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>




                    <br><br>

                </form>
            </div>
        </div>
    </div>
</div>