
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>New Product</b></div>
            <div class="panel-body">
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Product Code :</label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Product Code..." class="form-control parsley-error" data-parsley-id="29">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Product Name :</label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Enter the Product Name..." class="form-control parsley-error" data-parsley-id="29">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi" for="sel1">Category :</label>
                        <div class="col-sm-6">
                            <select class="form-control parsley-error" id="sel1">
                                <option>Computer</option>
                                <option>Mobile Phone</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi" for="sel1">Supplier :</label>
                        <div class="col-sm-6">
                            <select class="form-control parsley-error" id="sel1">
                                <option>X Company</option>
                                <option>AZTECH Company</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Purchase Price :</label>
                        <div class="col-sm-6">
                            <input type="text" maxlength="4" data-parsley-max="6" placeholder="Enter the purchase price..." class="form-control parsley-error" data-parsley-id="39">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Selling Price :</label>
                        <div class="col-sm-6">
                            <input type="text" maxlength="4" data-parsley-max="6" placeholder="Enter the sales price..." class="form-control parsley-error" data-parsley-id="39">
                        </div>
                    </div>


                    @*<div class="form-group">

                        <label class="col-sm-3 control-label yazi"><br><br><br><b>Product Picture : </b></label>
                        <div class="col-sm-4">
                            <br>
                            <br>
                            <br>
                            <input type="file" name="pic" accept="image/*" placeholder="Ürün Resmi Ekleyiniz..." class="form-control parsley-error">
                        </div>

                        <div class="col-sm-3">
                            &nbsp      &nbsp      &nbsp &nbsp

                            <img style="margin-top: -12px" width="140" height="115" src="http://news.yuvayana.org/wp-content/uploads/sites/10/2015/06/muther-dairy-milk.jpg">
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <button type="submit" class="btn btn-space btn-primary kaydet" style="font-size: 16px">Save</button>
                            <button class="btn btn-space btn-default " style="height: 40px; font-size: 14px;">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>