@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/assets/img/logo-fav.png">
    <title>Login Page - Welcome</title>
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/style.css" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Project/login.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body class="be-splash-screen">
    <div class="be-wrapper be-login">
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="splash-container">
                    <div class="panel panel-default panel-border-color panel-border-color-primary">
                        <div class="panel-heading"><img src="~/Content/assets/img/logo.png" alt="logo" width="150" height="70" class="logo-img"></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <input id="username" type="text" placeholder="Username" autocomplete="on" class="form-control">
                            </div>
                            <div class="form-group">
                                <input id="password" type="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group login-submit">
                                <button class="btn btn-primary btn-xl" id="btnLogin">Log In</button>
                            </div>
                            <div class="form-group login-submit">
                                <button class="btn btn-success btn-xl" style="margin-top: -30px;" id="btnRegister">Register</button>
                            </div>
                            <div id="divError" class="alert alert-danger collapse">
                                <a id="linkClose" href="#" class="close">&times;</a>
                                <div id="divErrorText"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
      $("#btnLogin").click(function () {
    $.ajax({
        // Post username, password & the grant type to /token
        url: '/token',
        method: 'POST',
        contentType: 'application/json',
        data: {
            username: $("#username").val(),
            password: $("#password").val(),
            grant_type: 'password'
        },
        // When the request completes successfully, save the
        // access token in the browser session storage and
        // redirect the user to Data.html page. We do not have
        // this page yet. So please add it to the
        // EmployeeService project before running it
        success: function (response) {
            sessionStorage.setItem("accessToken", response.access_token);
            toastr.info("Redirecting to Home Page !", { timeOut: 2000 })
            window.location.href = '/Home/Index';

        },
        error: function (jqXHR) {
           toastr.error("Encountered with a error !", { timeOut: 3000 })
            $('#divErrorText').text(jqXHR.responseText);
            $('#divError').show('fade');
        }
    });
});

      $("#btnRegister").click(function () {
         
            window.location.href = '/UserManagement/Register';
        });
    </script>

</body>
</html>
