
<div class="row">
    <div class="col-md-12" style="margin-top: -15px">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px;"><b>New Supplier Registration</b></div>
            <div class="panel-body">
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Company Name :</label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Firma Adı Giriniz..." class="form-control parsley-error" data-parsley-id="29">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Phone :</label>
                        <div class="col-sm-6">
                            <input type="text" data-parsley-maxlength="6" placeholder="Geçerli Telefon numarası giriniz..." class="form-control parsley-error" data-parsley-id="33">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Email :</label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Geçerli Email adresi giriniz..." class="form-control parsley-error" data-parsley-id="35">
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Address :</label>
                        <div class="col-sm-6">
                            <input type="text" data-parsley-min="6" placeholder="Adres Bilgisi Giriniz..." class="form-control parsley-error" data-parsley-id="37">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <button type="submit" class="btn btn-space btn-success" style="font-size: 17px; width: 80px; height:38px;">Save</button>
                            <button class="btn btn-space btn-default " style="height: 40px; font-size: 14px;">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

