
<div class="row">
    <div class="col-sm-12" style="margin-top: 30px">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <h2 class="page-head-title"><b><b>Supplier Management Screen</b></b></h2>
                <br>

                <div class="col-sm-4">
                    <div><a href="@Url.Action("AddSupplier","Supplier")"><button class="btn btn-success">New Supplier </button></a></div>

                    <div class="input-group" style="margin-top: 7px">
                        <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="text" class="form-control" placeholder="Supplier Search..." aria-describedby="sizing-addon2">
                    </div>


                </div>

                <br><br><br><br>
                <hr>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr style="font-size: 16px">
                                <th width="20%">Company Name</th>
                                <th width="12%">Phone</th>
                                <th width="15%">Email</th>
                                <th width="23%">Address</th>
                                <th> </th>
                            </tr>

                        </thead>
                        <tbody>

                            <tr>
                                <td>X Tedarik Product</td>
                                <td>0548949849849</td>
                                <td>furkan12345@hotmail.com</td>
                                <td>Sakarya Cark Caddesi no:15</td>
                                <td class="text-right">
                                    <div class="btn-group btn-hspace">
                                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle " aria-expanded="false">İşlemler <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                        <ul role="menu" class="dropdown-menu pull-right">
                                            <li><a href="#"><i class="icon mdi mdi-edit"></i><span>Düzenle</span></a></li>
                                            <li><a href="#"><i class="icon mdi mdi-delete"></i><span>Sil</span></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Y Urun Makina</td>
                                <td>543543543545435</td>
                                <td>salih@hotmail.com</td>
                                <td>Merkez Cark Caddesi no:15</td>
                                <td class="text-right">
                                    <div class="btn-group btn-hspace">
                                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle " aria-expanded="false">İşlemler <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                        <ul role="menu" class="dropdown-menu pull-right">
                                            <li><a href="#"><i class="icon mdi mdi-edit"></i><span>Düzenle</span></a></li>
                                            <li><a href="#"><i class="icon mdi mdi-delete"></i><span>Sil</span></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ironsoft Product</td>
                                <td>05324568855</td>
                                <td>onurironsoft@hotmail.com</td>
                                <td>Kemalpasa Mahalles sokak no:15 Merkez ap no:4</td>
                                <td class="text-right">
                                    <div class="btn-group btn-hspace">
                                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle " aria-expanded="false">İşlemler <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                        <ul role="menu" class="dropdown-menu pull-right">
                                            <li><a href="#"><i class="icon mdi mdi-edit"></i><span>Düzenle</span></a></li>
                                            <li><a href="#"><i class="icon mdi mdi-delete"></i><span>Sil</span></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
