@model IEnumerable<NTierApp.WebApp.Models.CategoryViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>Category Management</b></div>
            <div class="panel-body">
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi"> Cateogry Name :</label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Enter the new category..." class="form-control parsley-error" data-parsley-id="29" id="categoryName">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <button type="submit" class="btn btn-space btn-success" style="font-size: 17px; width: 80px; height:38px;" id="btnSave">Save</button>
                            <button class="btn btn-space btn-default " style="height: 40px; font-size: 14px;">Cancel</button>
                        </div>
                    </div>

                    <div class="col-sm-6" style="margin-left: 280px; margin-top: 15px;">
                        <div class="panel panel-default panel-table">

                            <div class="panel-heading" style="font-size: 22px">
                                <b>Category List</b><hr>


                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category Name</th>
                                            <th style="float: right;margin-right: -70px;">&nbsp; Category Actions</th>
                                            <th class="actions"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td class="actions">
                                                    <a href="@Url.Action("EditCategory","Product", new { id=item.Id})" class="icon"><i class="mdi mdi-edit" style="float: right"></i></a>
                                                </td>
                                                <td class="actions">
                                                    <a href="#" class="icon"><i class="mdi mdi-delete" onclick="Delete(@item.Id)"></i></a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var token = sessionStorage.getItem("accessToken");
var headers = {};
headers.Authorization = "Bearer " + token;

$(document).ready(function() {
  if (token == null) {
    toastr.info("Please try again after signing up!");
    window.location.href = "/UserManagement/Login";
  }
});

var Delete = function(id) {
  $.ajax({
    url: "/api/Categories/" + id,
    method: "DELETE",
    headers: headers,
    success: function() {
                    window.location.replace("/Product/CategoryList");

    },
    error: function(jqXHR) {
      alert("Error !");
    }
  });
};

$("#btnSave").click(function() {
  $.ajax({
    url: "/api/Categories",
    method: "POST",
    headers: headers,
    data: {
      Name: $("#categoryName").val()
    },
    success: function() {
        window.location.href = "/Product/";
                    window.location.replace("/Product/CategoryList");


    },
    error: function(jqXHR) {
      alert("Error !");
    }
  });
});


</script>